<footer>

  <div class="center-item">
    <span><strong>{{pendentes}}</strong> Itens Pendentes</span>
    <span *ngFor="let filtro of filtros">
      <button [ngClass]="{'active':filterActive===filtro}" mat-button
              (click)="setFilter(filtro)">{{filtro}}</button>
    </span>

    <button mat-button (click)="RemoveCompleted()">Remove Finalizadas</button>
  </div>

</footer>
