<div class="center-item">
  <mat-checkbox [id]="index" [checked]="todo.completado"
                [formControl]="checkbox"></mat-checkbox>

  <mat-label (dblclick)="isEdit=true;editar()" *ngIf="!isEdit; else editando ">{{todo.texto}}</mat-label>
  <ng-template #editando>
    <mat-form-field appearance="outline">
      <input #inputdescricao matInput [formControl]="descricao" (blur)="isEdit=false;saveEdit()">
    </mat-form-field>
  </ng-template>

  <button mat-button (click)="remover()" style="color: red">X</button>
</div>
<!--<input matInput value="Criar template">-->

