/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.center-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px
}

.card {
  width: 100%;
  min-width: 640px;
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  color: white;
}


.center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}
