<mat-card class="card" xmlns="http://www.w3.org/1999/html">

  <mat-card-title>Lista de Reserva</mat-card-title>

  <mat-card-content>
    <div style="display: flex;align-items: center">
      <mat-checkbox [formControl]="toogleAll"></mat-checkbox>

      <app-todo-add style="width: 100%;"></app-todo-add>

    </div>


    <app-todo-list></app-todo-list>

    <app-todo-footer></app-todo-footer>

  </mat-card-content>

</mat-card>
